{% extends 'users/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static './reset.css' %}">
<link rel="stylesheet" href="{% static './style.css' %}">
{% endblock %}
{% block title %}Inicia sesión{% endblock %}
{% block content %}
    <form class="login-form" method="POST" action="">
        <h2>Welcome Stranger</h2>
        {% csrf_token %}
        <label class="entry">
            {{form.username}}
        </label>
        <label class="entry">
            {{form.password}}
        </label>
        <input type="submit" class="button" value="Iniciar Sesión">
    </form>
    <h4>¿No tienes cuenta? | </h4>
    <a href="{% url 'signup' %}">Registrate aquí</a>
{% endblock%}

