* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(56,58,61);
}


.nav-bar ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 30px;
}
.nav-bar ul li {
    
    float: left;
    height: 70%;
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 42, 53);
}

.a{
    padding-right: 50%;
}




.b :hover {
    background-color: rgb(27, 28, 36);
}


h2 {
    font-size: larger;
    margin: auto;
    text-align: left;
    padding-left: 25px;
    padding-top:5px;
}

.nav-bar .a .aa{
    font-family:fantasy;
}

.nav-bar .a .aa .image{
    padding-right: 3px;
}

.home-mesage h2{
    text-align:left;
    margin-top: 10%;
    margin-left: 6%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    color: white;
}
.home-mesage h3{
    text-align:left;
    margin-top: 2%;
    margin-left: 8%;
    font-family:monospace;
    font-weight:300;
    font-size: 2em;
    color:wheat;
}

.initlearn {
    margin-left: 8%;
    margin-top: 2%;
    width: 12%;
    height: 3rem;
    border-radius: 16px;
    border:none;
    overflow: hidden;
    padding: 0 2px;
    font-size: 1rem;
    position: relative;
}

.initlearn > a{
    color: white;
    text-decoration: none;
    position: absolute;
    inset: 0;
    background: #00aae4;
    text-align: center;
    line-height: 290%;

}

.initlearn > a:hover {
    background: #00befd;
    cursor: pointer;
}