* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: blue;
}

.login-form{
	width: 400px;
    height: 340px;
	background:#ccc;
    margin: auto;
    margin-top: 180px;
    padding: 20px 30px;
}

.login-form h2{
    margin: 0;
    height: 40px;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 1.5em;
}

.entry {
    width: 100%;
}