* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(56,58,61);
}

.nav-bar{
    width: auto;
    height: 50px;
    background-color: rgb(40, 42, 53);
}
.nav-bar li a{
    text-decoration: none;
    color: white;
}
li {
    display: inline;
    text-decoration: none;
    
}